<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ux"
        tools:targetApi="31">
        <activity
            android:name=".DetailTouristSpotActivity"
            android:exported="false"
            android:parentActivityName=".DestinationsActivity"/>
        <activity
            android:name=".DestinationsActivity"
            android:exported="false"
            android:parentActivityName=".InterestsActivity"/>
        <activity
            android:name=".ShowTicketActivity"
            android:exported="false"
            android:parentActivityName=".SuccessfullyActivity"/>
        <activity
            android:name=".SuccessfullyActivity"
            android:exported="false"
            android:parentActivityName=".ChairSelectionActivity"/>
        <activity
            android:name=".ChairSelectionActivity"
            android:exported="false"
            android:parentActivityName=".BusSelectionActivity" />
        <activity
            android:name=".BusSelectionActivity"
            android:exported="false"
            android:parentActivityName=".FormBuyTicketActivity" />
        <activity
            android:name=".InfoCardActivity"
            android:exported="false" />
        <activity
            android:name=".FormBuyTicketActivity"
            android:exported="false"
            android:parentActivityName=".WelcomeActivity" />
        <activity
            android:name=".InterestsActivity"
            android:exported="false"
            android:parentActivityName=".WelcomeActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>